ul#menu {
	font-size:11px;
	font-family: Segoe UI;
	line-height:21px;
	text-align:left;
	z-index:999;
	list-style:none;
	/* width:940px; */
	/* margin:30px auto 0px auto; */
	margin-top:10px;
	height:33px;
	 padding:0px 20px 0px 20px;

	/* Rounded Corners */

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Background color and gradients */

	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5C5D5F), to(#5C5D5F));

	/* Borders */

	/* border: 1px solid #002232; */

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 16px 4px 4px;
	/* margin-right:30px; */
	/* margin-right:15px; */
	margin-top:3px;
	border:none;
}

#menu li:hover {
	border: 1px solid #777777;
	padding: 4px 9px 4px 9px;

	/* Background color and gradients */

	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFFFF));

	/* Rounded corners */

	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	font-family: Segoe UI;
	font-size:11px;
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
	/* text-shadow: 1px 1px 1px #000; */
}

#menu li a.disabled {
	font-family: Segoe UI;
	font-size:11px;
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration: line-through;
	/* text-shadow: 1px 1px 1px #000; */
}

#menu li:hover a {
	color: #5C5D5F;
}
#menu li .drop {
	padding-right:21px;
	background:url("../images/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
	background:url("../images/drop.png") no-repeat right 7px;
}

.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns,
.dropdown_6columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	z-index:999999;

	/* Gradient background */
	background:#FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFFFF));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 180px;}
.dropdown_2columns {width: 360px;}
.dropdown_3columns {width: 530px;}
.dropdown_4columns {width: 700px;}
.dropdown_5columns {width: 870px;}
.dropdown_6columns {width: 1020px;}

#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns,
#menu li:hover .dropdown_6columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:160px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
.col_6 {width:830px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family: Segoe UI;
	line-height:21px;
	font-size:11px;
	text-align:left;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #FFFFFF;
}
#menu h3 {
	font-size:11px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}

#menu h2.no-border-bottom {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
}

#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu p.border-bottom{
	border-bottom:1px solid #FFFFFF;
}

#menu li:hover div a {
	font-size:11px;
	color:5C5D5F;
}
#menu li:hover div a:hover {
	color:#3D3E40;
}

.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #FFFFFF;
	-webkit-box-shadow:0px 0px 5px #FFFFFF;
	box-shadow:0px 0px 5px #FFFFFF;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:11px;
	line-height:24px;
	position:relative;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#A6A8AB;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:146px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#menu li .greybox li a {
	color:white;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
